@import '@material/layout-grid/mdc-layout-grid';
@import '@material/card/mdc-card';

#app {
  font-family: 'Avenir', Helvetica, Arial, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.blur {
  filter: blur(5px);
}

header {
  .menu-item {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #3F5D45;
    &:hover {
      cursor: pointer;
      color: #fff;
      background-color: #3F5D45;
      border-radius: 10px;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
    }
  }
}

main {
  .menu {
    margin-top: -145px;
    margin-left: 7rem;
    margin-right: 7rem;
    @supports (display: grid) {
      grid-gap: 2px;
    }
    .mdc-layout-grid__cell {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #3F5D45;
      >.menu-text {
        position: absolute;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
      }
    }
    .mdc-layout-grid__cell:first-child {
      background-color: #FFE180;
      >.menu-text {
        color: #3F5D45;
      }
    }
    .mdc-layout-grid__cell {
      >.square {
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        padding-bottom: 100%;
        opacity: 0.15;
      }
    }
    .mdc-layout-grid__cell:nth-child(1) {
      >.square {
        background-image: url("../assets/images/brooke-lark-230642-unsplash.jpg");
      }
    }
    .mdc-layout-grid__cell:nth-child(2) {
      >.square {
        background-image: url("../assets/images/whitney-wright-356670-unsplash.jpg");
      }
    }
    .mdc-layout-grid__cell:nth-child(3) {
      >.square {
        background-image: url("../assets/images/food-photographer-jennifer-pallian-306919-unsplash.jpg");
      }
    }
  }
  .article {
    height: 420px;
    @media (min-width: 1200px) {
      height: 500px;
    }
    background-color: #EAF0ED;
    margin-top: 7rem;
    margin-bottom: 7rem;
    .article-text {
      writing-mode: vertical-rl;
      font-size: 16px;
      color: #8DA291;
    }
    .article-img {
      margin-top: -7%;
      height: 124%;
      background-image: url("../assets/images/le-buzz-576478-unsplash.jpg");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .article-img-text {
      margin-top: -18%;
      height: 100%;
      background-image: url("../assets/images/lg-為什麼選擇了做甜點.svg");
      background-position: center;
      background-size: fill;
      background-repeat: no-repeat;
    }
    .article-img2 {
      margin-top: -7%;
      height: 124%;
      background-image: url("../assets/images/monika-grabkowska-325047-unsplash.jpg");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .article-img-text2 {
      margin-top: -18%;
      height: 100%;
      background-image: url("../assets/images/lg-為什麼一定要吃甜點.svg");
      background-position: center;
      background-size: fill;
      background-repeat: no-repeat;
    }
    .article-img-text3 {
      margin-top: -18%;
      height: 100%;
      background-image: url("../assets/images/lg-想吃甜點是不需要理由的.svg");
      background-position: center;
      background-size: fill;
      background-repeat: no-repeat;
    }
    &.article-empty {
      background-color: #fff;
    }
  }
  .shop-list {
    height: 440px;
    @media (min-width: 1200px) {
      height: 520px;
    }
    .shop-list-img {
      height: 300px;
      @media (min-width: 1200px) {
        height: 380px;
      }
    }
  }
}
